body {
  margin: 0;
  padding: 0;
}

#root {
  font-family: 'Keania One', cursive;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #e73a18;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

#drum-machine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 640px;
  height: 320px;
  color: white;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
}

.half {
  text-align: center;
  width: 50%;
}

#container {
  background-color: #333;
  margin: auto;
  width: 260px;
  height: 240px;
  background-color: ;
  border-radius: 5px;
}

button {
  background-color: #0086b3;
  color: black;
  border-radius: 5px;
  font-family: 'Keania One', cursive;
  font-size: 2em;
  width: 75px;
  height: 70px;
  margin: 5px;
}

button:hover {
  background-color: blue;
  color: white;
}

#display {
  margin: auto;
  background-color: lightgreen;
  max-width: 240px;
  padding: 10px;
  color: black;
  border-radius: 5px;
}

span {
  color: green;
}

table, th, td {
  margin: auto;
  width: 260px;
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

@media screen and (max-width: 640px) {
  #drum-machine {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 320px;
    height: 640px;
  }

  .half {
    height: 50%;
    margin: auto;
  }

  #container, table {
    margin-left: -54px;
  }
}
